.page-header__link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: #2196F3;
    margin-right: 93px;}

.page-header__logo {color: #000000;}