.clients__list {
  display: flex;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__item {
  width: 170px;
  height: 92px;
  padding: 16px 32px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: rgba(175, 177, 184, 1);
  transition: border-color 250ms $cubic;

  &:hover {
    color: $accient-color;
    border-color: $accient-color;
  }
}
.clients__logo {
  fill: currentColor;
  transition: fill 250ms $cubic;
}
