.page-header__link {
    font-family: $ff2;
    font-weight: $fw2;
    font-size: $fs6;
    line-height: $lh3;
    color: $primary-accent-color;
    margin-right: 93px;}

    .page-header__logo {color: $black-color;}