.hero {
    text-align: center;
    padding: 200px 390px;
    background-color: #2F303A;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}


.hero__title {
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);}

.hero__btn {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
    display: inline-block;
    background-color: #2196F3;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    text-align: center;}
    